@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
@import "css/mixins.scss"; 

.App {
  margin: 16px;
}

* {
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.4s all cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.card {
  border: thin solid #dadce0;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  min-width: 45%;
  max-width: 100%;
  width: fit-content;
  margin: 5% auto;
  position: relative;
}

.card--section {
  border-top: thin solid #dadce0;
  padding: 0;
  &:first-child {
    border:0;
  }
  .title {
    text-align: center;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
}

.--card--section-fixed-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: auto;
  bottom: 0;
}


select {
  padding: .5rem;
  margin: .5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
//  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
  &:hover{
    border-color: rgba(52, 152, 179, 0.4);
    cursor: pointer;
  }
  &:focus{
    border-color: rgba(52, 152, 179, 1);
    outline: none;
  }
    transition: 0.2s all cubic-bezier(0.64, 0.57, 0.67, 1.53);

  @include box-shadow;
}


/* CAUTION: IE hackery ahead */


select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}