@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
@import "css/mixins.scss"; 

html, body, .App {
  margin: 0;
  overflow: hidden;
  &.blurred {
    filter: blur(3px) grayscale(1) opacity(0.5);
    width: 100vw;
    height: 100vh;
  }
}

* {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  transition: 0.4s all cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.card {
  border: thin solid #dadce0;
  border-radius: 8px;
  box-sizing: border-box;
  min-width: 45%;
  max-width: 100%;
  width: fit-content;
  margin: 5% auto;
  position: relative;
  @include hard-box-shadow;
}

.card--fixed {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  max-height: 95vh;
  max-width: 95vw;
  z-index: 900;

  .legWrapper {
    border: none;
  }

  .--card-title {
    max-height: 3em;
    height: 3em;
  }

  .card--main--section {
    max-height: 50vh;
    height: 50vh;
    overflow: auto;
    position: relative;
    @include scrollbar
  }
  .--card--section-fixed-bottom {
    max-height: calc(40vh - 2em);
    height: calc(40vh - 2em);
    overflow: auto;
    @include scrollbar
  }
  .show {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  select {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @media all and (orientation:portrait) {
    height: 100vh;
    width: 100vw;
  }
}

.card--section {
  border-top: thin solid #dadce0;
  padding: 0;
  &:first-child {
    border:0;
  }
  .title {
    text-align: center;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
}


select {
  padding: .5rem;
  margin: 2.3vw;
  border: 2px solid #ccc;
  border-radius: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
//  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
  &:hover{
    border-color: rgba(52, 152, 179, 0.4);
    cursor: pointer;
  }
  &:focus{
    border-color: rgba(52, 152, 179, 1);
    outline: none;
  }
    transition: 0.2s all cubic-bezier(0.64, 0.57, 0.67, 1.53);

  @include box-shadow;
}


/* CAUTION: IE hackery ahead */


select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}